{% extends "registration/base.html" %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>Forgot Your Password?</h1>
    </div>
    <div class="form">
        <!-- Flash here -->
        <div class="flash">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <form method="POST">
            <input type="text" name="username" placeholder="Enter your username" required>
            <input type="submit" value="Send Reset Link">
        </form>
    </div>
</div>
{% endblock %}
