<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Welcome to the MKL Matchnight controller</h1>
            </div>
            <div class="form">
                <!-- Flash here -->
                <div class="flash">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                </div>
            <form action="{{ url_for('login') }}" method="POST">
                <input type="text" name="username" placeholder="Enter your username">
                <input type="password" name="password" placeholder="Enter your password">
                <input type="submit" value="Submit">
            </form>
            <a href="{{ url_for('forgot_password') }}">Forgot your password?</a>
            </div>
        </div>
    </body>
</html>