<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MKL Matchnight Controller</title>
    <meta name="description" content="Lightning">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/admin.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <!-- Sidebar for Desktop -->
        <div class="sidebar">
            <div class="sidebar-header">MKL Matchnight Controller</div>
            <div class="sidebar-subheader">Admin</div>
            <ul>
                <li><a href="{{  url_for('register')  }}">Register Users</a></li>
                <li><a href="{{  url_for('users')  }}">View Users</a></li>
                <li><a href="{{ url_for('fixtures') }}">Fixtures</a></li>
                <li><a href="{{ url_for('teams') }}">Teams</a></li>
                <li><a href="{{ url_for('new_player') }}">Add Players</a></li>
                <li><a href="{{ url_for('new_fixture') }}">Add Fixtures</a></li>
                <li><a href="{{ url_for('staff_positions') }}">Staff Positions</a></li>
                <li><a href="{{ url_for('allocate_staff') }}">Allocate Staff</a></li>
                <li><a href="{{ url_for('availability_matrix') }}">Availability Matrix</a></li>

            </ul>
            <div class="home-container">
                <a href="{{ url_for('home')}}" class="home-button">Home</a>
            </div>
            <div class="logout-container">
                <a href="{{  url_for("logout")}}" class="logout-button">Logout</a>
            </div>
        </div>

        <!-- Navbar for Mobile -->
        <nav class="navbar">
            <div class="navbar-header">
                <button class="navbar-toggle" onclick="toggleNavbar()">☰</button>
                <span class="navbar-title">MKL Matchnight</span>
            </div>
            <ul class="navbar-links">
                <li><a href="{{  url_for('register')  }}">Register Users</a></li>
                <li><a href="{{  url_for('users')  }}">View Users</a></li>
                <li><a href="{{ url_for('fixtures') }}">Fixtures</a></li>
                <li><a href="{{ url_for('teams') }}">Teams</a></li>
                <li><a href="{{ url_for('new_player') }}">Add Players</a></li>
                <li><a href="{{ url_for('new_fixture') }}">Add Fixtures</a></li>
                <li><a href="{{ url_for('staff_positions') }}">Staff Positions</a></li>
                <li><a href="{{ url_for('allocate_staff') }}">Allocate Staff</a></li>
                <li><a href="{{ url_for('availability_matrix') }}">Availability Matrix</a></li>
                <li><a href="{{ url_for('home')}}">Home</a></li>
                <li><a href="{{  url_for("logout")}}">Logout</a></li>
            </ul>
        </nav>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!-- JavaScript to toggle the navbar and handle the content margin -->
    <script>
        function toggleNavbar() {
            var navbarLinks = document.querySelector('.navbar-links');
            navbarLinks.classList.toggle('navbar-open');
        }

        function adjustContentMargin() {
            var sidebar = document.querySelector('.sidebar');
            var content = document.querySelector('.content');

            if (window.innerWidth > 768) {
                content.style.marginLeft = sidebar.offsetWidth + 'px';
            } else {
                content.style.marginLeft = '0';
            }
        }

        window.addEventListener('resize', adjustContentMargin);
        window.addEventListener('load', adjustContentMargin);
    </script>
</body>
</html>
