{% extends "admin/base.html" %}

{% block content %}
<h1>Edit Player</h1>
<div class="form-container">
    <form method="POST" class="form">
        {{ form.hidden_tag() }}
        <label for="FirstName">First Name:</label>
        {{ form.FirstName(class_="form-input") }}
        <label for="LastName">Last Name:</label>
        {{ form.LastName(class_="form-input") }}
        <label for="TeamID">Team:</label>
        {{ form.TeamID(class_="form-input") }}
        <label for="Position">Position:</label>
        {{ form.Position(class_="form-input") }}
        <label for="Shoots">Shoots:</label>
        {{ form.Shoots(class_="form-input") }}
        <label for="Height">Height:</label>
        {{ form.Height(class_="form-input") }}
        <label for="Weight">Weight:</label>
        {{ form.Weight(class_="form-input") }}
        <label for="BirthDate">Birth Date:</label>
        {{ form.BirthDate(class_="form-input") }}
        <label for="BirthCity">Birth City:</label>
        {{ form.BirthCity(class_="form-input") }}
        <label for="BirthCountry">Birth Country:</label>
        {{ form.BirthCountry(class_="form-input") }}
        <button type="submit" class="form-button">Save Changes</button>
    </form>
    <a href="{{ url_for('team_detail', team_id=player.TeamID) }}" class="teams-button">Back to Team</a>
</div>
{% endblock %}
