{% extends "admin/base.html" %}
{% block content %}
<h1>Create New Player</h1>
<div class="form-container">
    <form method="POST" action="{{ url_for('new_player') }}" class="form">
        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" class="form-input" required>
        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" name="LastName" class="form-input" required>
        <label for="TeamID">Team:</label>
        <select id="TeamID" name="TeamID" class="form-input">
            {% for team in teams %}
            <option value="{{ team.TeamID }}">{{ team.TeamName }}</option>
            {% endfor %}
        </select>
        <label for="Position">Position:</label>
        <input type="text" id="Position" name="Position" class="form-input" required>
        <label for="Shoots">Shoots:</label>
        <input type="text" id="Shoots" name="Shoots" class="form-input">
        <label for="Height">Height:</label>
        <input type="text" id="Height" name="Height" class="form-input">
        <label for="Weight">Weight:</label>
        <input type="number" id="Weight" name="Weight" class="form-input">
        <label for="BirthDate">Birth Date:</label>
        <input type="date" id="BirthDate" name="BirthDate" class="form-input">
        <label for="BirthCountry">Birth Country:</label>
        <input type="text" id="BirthCountry" name="BirthCountry" class="form-input">
        <button type="submit" class="form-button">Create Player</button>
    </form>
    <a href="{{ url_for('teams') }}" class="teams-button">Back to Teams</a>
</div>
{% endblock %}
