{% extends 'admin/base.html' %}
{% block content %}
<h1>Create New Team</h1>
<div class="form-container">
    <form method="POST" action="{{ url_for('new_team') }}" class="form">
        <label for="TeamName">Team Name:</label>
        <input type="text" id="TeamName" name="TeamName" class="form-input" required>
        <label for="Abbreviation">Abbreviation:</label>
        <input type="text" id="Abbreviation" name="Abbreviation" class="form-input">
        <label for="City">City:</label>
        <input type="text" id="City" name="City" class="form-input">
        <label for="CoachName">Coach Name:</label>
        <input type="text" id="CoachName" name="CoachName" class="form-input">
        <label for="AssistantCoachName">Assistant Coach Name:</label>
        <input type="text" id="AssistantCoachName" name="AssistantCoachName" class="form-input">
        <button type="submit" class="form-button">Create Team</button>
    </form>
    <a href="{{ url_for('teams') }}" class="teams-button">Back to Teams</a>
</div>
{% endblock %}
