{% extends 'admin/base.html' %}
{% block content %}
<h1>Create New Team</h1>
<div class="form-container">
    <form action="{{ url_for('new_team') }}" method="POST">
    <input type="text" name="TeamName" placeholder="Enter team name" required>
    <input type="text" name="Abbreviation" placeholder="Enter abbreviation">
    <input type="text" name="City" placeholder="Enter city">
    <input type="text" name="CoachName" placeholder="Enter coach name">
    <input type="text" name="AssistantCoachName" placeholder="Enter assistant coach name">
    <input type="submit" value="Create Team">
</form>
</div>
<div class="teams-button-container">
    <a href="{{ url_for('teams') }}" class="teams-button">Back to Teams</a>
</div>
{% endblock %}