{% extends "base.html" %}

{% block content %}
<h1>Live Game - Edit Mode</h1>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/live_game.css') }}">
<div class="scoreboard">
    <div class="team-section home-team">
        <div class="shots-on-goal">
            <label for="lightning-shots">SHOTS ON GOAL</label>
            <input type="text" id="lightning-shots" name="home_sog" placeholder="{{ game_stats.home_sog }}">
        </div>
        <div class="team-info">
            <div class="team-name">HOME</div>
            <div class="team-name">{{ fixture.home_team.TeamName }}</div>
            <input type="text" id="lightning-score" name="home_score" placeholder="0">
        </div>
    </div>

    <div class="time-section">
        <div class="time-display">
            <label for="period-time">TIME</label>
            <input type="text" id="period-time" name="period_time" placeholder="10:56">
        </div>
        <div class="logo-and-period">
            <div class="team-logo home-logo">
                <img src="{{ url_for('static', filename='logos/' + fixture.home_team.TeamName + '.png') }}" alt="{{ fixture.home_team.TeamName }} Logo">
            </div>
            <div class="period-display">
                <label for="period">PERIOD</label>
                <input type="text" id="period" name="period" placeholder="2">
            </div>
            <div class="team-logo away-logo">
                <img src="{{ url_for('static', filename='logos/' + fixture.away_team.TeamName + '.png') }}" alt="{{ fixture.away_team.TeamName }} Logo">
            </div>
        </div>
    </div>

    <div class="team-section away-team">
        <div class="shots-on-goal">
            <label for="moskitos-shots">SHOTS ON GOAL</label>
            <input type="text" id="moskitos-shots" name="away_sog" placeholder="{{ game_stats.away_sog }}">
        </div>
        <div class="team-info">
            <div class="team-name">GUEST</div>
            <div class="team-name">{{ fixture.away_team.TeamName }}</div>
            <input type="text" id="moskitos-score" name="away_score" placeholder="0">
        </div>
    </div>
</div>

<form method="POST" class="game-stats-form">
    <button type="submit" class="update-stats-button">Update Stats</button>
</form>

<a href="{{ url_for('fixtures') }}" class="back-button">Back to Fixtures</a>

{% endblock %}
