@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/Bold.otf') format('opentype');
}
/* Base Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova Bold', sans-serif;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Proxima Nova Bold', sans-serif;
}

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    color: #fff;
    transition: all 0.3s;
    z-index: 1000;
}

.sidebar-header {
    padding: 20px;
    background: #000000;
    color: #d8b95a;
    text-align: center;
    border-bottom: 1px solid #fff;
    font-size: 1.8em;
}

.sidebar-subheader {
    padding: 10px;
    background: #000000;
    color: #d8b95a;
    text-align: center;
    border-bottom: 1px solid #fff;
    font-size: 1.5em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 50px;
}

.sidebar ul li {
    border-bottom: 1px solid #fff;
    text-align: center;
    transition: background-color 0.3s ease;
}

.sidebar ul li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover, .sidebar ul li a:focus {
    background-color: #333;
    color: #d8b95a;
}

.logout-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logout-button {
    display: block;
    padding: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid #fff;
}

.logout-button:hover {
    background-color: #333;
    color: #d8b95a;
}

.home-container {
    position: absolute;
    bottom: 49px;
    width: 100%;
}

.home-button {
    display: block;
    padding: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid #fff;
}

.home-button:hover {
    background-color: #333;
    color: #d8b95a;
}

/* Content Styles */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: margin-left 0.3s ease;
}

/* Navbar Styles for Mobile */
.navbar {
    background-color: #000000;
    padding: 10px;
    position: relative;
    width: 100%;
    z-index: 1001;
}

.navbar-header {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 100%;
    position: relative;
}

.navbar-toggle {
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    position: absolute;
    left: 10px; /* Position the hamburger icon on the left */
    cursor: pointer;
}

.navbar-title {
    color: #d8b95a;
    font-size: 1.5em;
    text-align: center; /* Center the title text */
}

/* Navbar Links */
.navbar-links {
    display: none; /* Hide links initially */
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.navbar-links li {
    margin: 10px 0;
}

.navbar-links li a {
    color: #d8b95a;
    text-decoration: none;
    font-size: 1.2em;
}

.navbar-links li a:hover {
    color: #fff;
}

/* Display Navbar Links on Toggle */
.navbar-links.navbar-open {
    display: flex; /* Show links when toggled */
}
@media only screen and (min-width: 768px) {
    .navbar {
        display: none; /* Hide navbar on desktop */
    }

    .sidebar {
        display: block; /* Show sidebar on desktop */
    }

    .content {
        margin-left: 250px; /* Add margin to content when sidebar is open */
    }
}
/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
    .sidebar {
        display: none; /* Hide sidebar on mobile */
    }

    .navbar {
        display: flex; /* Show navbar on mobile */
        flex-direction: column;
        align-items: center;

    }

    .container {
        width: 100%;
    }

    .content {
        width: 100% !important; /* Ensure content is full width on mobile */
        padding: 10px;
        margin-left: 0; /* Remove margin when sidebar is hidden */
    }
}



/* Add transition for showing/hiding the sidebar */
.sidebar.sidebar-open {
    transform: translateX(0);
}

.form {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form input[type="text"], .form input[type="password"], .form input[type="email"] {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    font-size: large;
}

.form input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px 0;
    font-size: large;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.form input[type="submit"]:hover {
    background-color: #333;
    color: #d8b95a;
}

.form select {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    font-size: large;
}


.user .user-row .user-cell {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    font-size: large;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: calc(100% - 250px);
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fixtures-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.fixtures-container table {
    width: 100%;
    border-collapse: collapse;
}

.fixtures-container table th {
    background-color: #000000;
    color: #d8b95a;
    padding: 10px;
    border: 1px solid #000;
    font-size: large;
}

.fixtures-container table td {
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    font-size: large;
}

.fixtures-table table {
    width: 100%; /* Ensures the table takes the full width of its container */
}

.fixtures-table th, .fixtures-table td {
    text-align: center; /* Adjust based on your preference */
    vertical-align: middle;
    padding: 8px; /* Provides padding within the cells */
    border-bottom: 1px solid #ccc; /* Adds a subtle border to each row for clarity */
}

.fixtures-table input[type="text"], .fixtures-table input[type="date"], .fixtures-table button {
    width: 100%; /* Makes the input fill the cell */
    box-sizing: border-box; /* Includes padding and border in the width */
    border: none; /* Removes the border */
    padding: 8px; /* Adds some padding inside the input */
    margin: 0; /* Removes any default margin */
    height: 100%; /* Optional: Adjust height as needed */
    background: transparent; /* Makes the input transparent */
    color: inherit; /* Inherits the text color from the parent */
    font-style: italic;
}

.fixtures-table button {
    background-color: #fff; /* Example button color, change as needed */
    font-family: proxima-nova-bold, sans-serif; /* Example font family, change as needed */
    color: black;
    text-align: center;
    cursor: pointer;
}

.fixtures-table button:hover {
    background-color: #0000002a; /* Darker shade for hover effect */
}

.teams-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams-item {
    list-style-type: none;
    margin: 10px 0;
}

.teams-button {
    display: block;
    padding: 15px;
    color: #fff;
    background-color: #000;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.teams-button:hover {
    background-color: #333;
    color: #d8b95a;
}

.form-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    font-size: large;
}

.form-button {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px 0;
    font-size: large;
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.form-button:hover {
    background-color: #333;
    color: #d8b95a;
}

.team-detail-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Add these styles to admin.css */

.allocations-table-container {
    width: 100%;
    overflow-x: auto; /* Allows horizontal scrolling if needed */
}

.allocations-table table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures the table takes up the full width */
}

.allocations-table th, .allocations-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    word-wrap: break-word; /* Ensures long text will wrap to the next line */
}

/* Ensure the header is bold and stands out */
.allocations-table th {
    background-color: #000;
    color: #d8b95a;
}

/* Add media query for smaller devices */
@media screen and (max-width: 768px) {
    .allocations-table th, .allocations-table td {
        font-size: 14px; /* Adjust font size for better readability */
    }
    h1 {
        font-size: 24px; /* Adjust heading size on mobile */
    }
}


/* Add these styles to admin.css */

.positions-list-container {
    width: 80%;
    margin-top: 20px;
}

.positions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

.position-item {
    padding: 15px;
    border-bottom: 1px solid #000;
    font-size: large;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.position-item:last-child {
    border-bottom: none;
}

.position-item:hover {
    background-color: #eaeaea;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.availability-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000; /* Black border */
    border-radius: 10px;
    background-color: #f9f9f9;
}

.availability-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #d8b95a; /* Gold text color */
}
@media only screen and (max-width: 768px) {
    body {
        overflow: auto; /* Allow scrolling on mobile devices */
    }
}
.month-divider {
    background-color: #d8b95a; /* Gold background */
    color: #000; /* Black text */
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
}

.fixtures-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.fixtures-table thead {
    background-color: #000; /* Black background */
    color: #d8b95a; /* Gold text color */
}

.fixtures-table th, .fixtures-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #000; /* Black border */
}

.fixtures-table th {
    text-align: center;
}

.fixtures-table td {
    text-align: center;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #000; /* Black background */
    color: #d8b95a; /* Gold text color */
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #333; /* Darker black background on hover */
}
