<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MKL Matchnight">
    <title>{{ title if title else "MKL Matchnight" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/public.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>{{ heading if heading else "Live Game Stats" }}</h1>
        </div>
        <div class="content">
            {% block content %}
            <!-- Content will be inserted here -->
            {% endblock %}
        </div>
    </div>
</body>
</html>
